<div class="pg-animals-list table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th ng-repeat="column in ctrl.columns">
                    <div>
                        <fits-me-animals-order-component title="{{column.DisplayName}}"
                                                         field="{{column.FieldName}}"
                                                         order-by="ctrl.orderBy"
                                                         items="ctrl.animals">
                        </fits-me-animals-order-component>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="animal in ctrl.currentAnimals track by animal.Id">
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="panel panel-info"><div class="panel-footer">Average age of all the animals in our zoo: {{ctrl.avgAge}}</div></div>
</div>
