<div class="row">
    <div class="col-md-8">
        <button type="button" class="btn btn-default" ng-click="ctrl.addAnimal()">Add Animal</button>
    </div>
    <div class="col-md-4">
        <ul uib-pagination boundary-links="true" total-items="ctrl.totalItems"
             ng-model="ctrl.currentPage" ng-change="ctrl.changePage()" num-pages="ctrl.numPages"
            class="pagination-sm pull-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
    </div>
</div>