<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th ng-repeat="column in ctrl.columns">
                    <fits-me-animals-order-component title="{{column.DisplayName}}"
                                                     field="{{column.FieldName}}"
                                                     order-by="ctrl.orderBy"
                                                     items="ctrl.animals">
                    </fits-me-animals-order-component>
                </th>
                <th>
                    <span>Edit</span>
                </th>
                <th>
                    <span>Remove</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="animal in ctrl.currentAnimals track by animal.Id">
                <td ng-repeat="column in ctrl.columns">
                    <span ng-bind="::ctrl.format(animal,column.FieldName)"></span>
                </td>
                <td>
                    <span>
                        <a class="glyphicon glyphicon-pencil" ng-click="ctrl.modifyAnimal(animal)"></a>
                    </span>
                </td>
                <td>
                    <span>
                        <a class="glyphicon glyphicon-remove" ng-click="ctrl.removeAnimal(animal)"></a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="alert alert-warning">Average age of all the animals in our zoo: {{ctrl.avgAge}}</div>
</div>
